.footer {
  background-color: #c23616;

}

.follows span a {
  text-decoration: none;
  color: #fff;
}

.follows span {
  margin-right: 15px;
  color: #fff;
}

.link__list .link__item {
  background: transparent;
}

.link__list a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navigation .logo {
  white-space: nowrap;
  font-size: large;
  color: #fff;
}

.navigation .logo .ri-pantone-line {
  color: #fff;
}

.white-text {
  color: white;
}

@media only screen and (max-width: 768px) {
  .follows span {
    margin-right: 10px; 
  }

  .link__list a {
    font-size: 14px; 
  }

  .navigation .logo {
    font-size: medium; 
  }

  .navigation .logo .ri-pantone-line {
    font-size: 18px; 
  }

  .white-text {
    color: white; 
  }
}

