.single__course__item {
  padding: 15px;
}

.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}

.projects,
.projects,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.projects i,
.projects i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
}

/* services.css */

.course__top__left {
  padding-right: 20px; 
}

.p-container {
  margin-top: 20px; 
}

.p-container p {
  font-size: 0.9rem; 
  color: #333; 
}

.image-container {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

@media (max-width: 767px) {
  .course__top__left {
    padding-right: 0; 
  }

.image-container {
  margin-top: 0; /* Reset margin for mobile view */
  }
}


@media (min-width: 768px) {
  .course__top__left {
    padding-right: 20px; 
  }

  .p-container {
    text-align: left; 
  }

  .p-container p {
    margin-top: 20px;   }

  .image-container {
    margin-top: 0; 
  }
}


