.hero-section {
  background-color: #e74c3c; 
  color: #fff; 
  padding: 80px 0; 
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero {
  padding: 20px; 
}

.hero__title {
  font-size: 40px; 
  font-weight: 400;
  margin: 0;
}

.hero__content p {
  font-size: 20px; 
  margin: 15px 0;
  color: #fff;
  font-weight: 1000;
}


.search .btn {
  background-color:#fff; 
  color:#e74c3c; 
  padding: 10px 20px; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-img-col img {
  max-width: 70%;
  height: auto; 
  margin-left: 50px;
  transition: transform 0.5s ease-in-out;
  animation: spin 20s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 40px 0; 
  }
}

.nav__item--with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; 
  color: #333;
  border: 1px solid #ccc; 
  padding: 10px;
  z-index: 1000;
}

.submenu li {
  margin-bottom: 5px;
}

.submenu a {
  text-decoration: none;
  color: #333; 
}
